{% extends "layout.html" %}

{% block title %}
Closed Polls
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poll Name</th>
            <th>Number of Candidates</th>
            <th>Winner</th>
            <th>Time Created</th>
            <th>TIme Closed</th>
        </tr>
    </thead>
    <tbody>
    {% for poll, closed_poll in closed_polls %}
        <tr>
            <td>{{ poll.name }}</td>
            <td>{{ poll.num_candidates}}</td>
            <td>{{ closed_poll.winner }}</td>
            <td>{{ poll.time_created }}</td>
            <td>{{ closed_poll.time_closed }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}