{% extends "layout.html" %}

{% block title %}
homepage
{% endblock %}

{% block main %}
<h3>Welcome back!</h3>
<hr>

{% if not active_polls %}
<p class="homepage">You don't seem to have any active polls.....<a href="/create-poll">Create one</a>?</p>
{% else %}
<p class="homepage">Here's a quick rundown of your active polls :)</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poll Name</th>
            <th>Room Key</th>
            <th>Current Votes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for poll in active_polls %}
        <tr>
            <td><a href="/current-poll/{{ poll.roomkey }}">{{ poll.name }}</a></td>
            <td>{{ poll.roomkey }}</td>
            <td>{{ poll.num_votes }}</td>
            <td>
                <form method="get" action="/closed-polls">
                <input type="hidden" name="poll" value="{{ poll.id }}"/> 
                <button type="submit" class="btn btn-primary">Close</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p class="homepage">Create <a href="/create-poll">another poll</a>?</p>
{% endif %}

{% endblock %}