{% extends "layout.html" %}

{% block title %}
Set Poll
{% endblock %}

{% block main %}
<p>This is your roomkey: {{ roomkey }}</p>
<form action="/set-poll/{{ roomkey }}"
      method="post">

        {% for candidate_num in range(num_candidates) %}
        <div class="form-group">
        <input class="form-control"
        name="candidate{{ candidate_num }}"
        placeholder="Candidate {{ candidate_num + 1}}"
        type="text"
        autocomplete="off">
        </div>

        {% endfor %}

    <button class="btn btn-primary btn-light-blue"
            type="submit">Submit</button>
</form>
{% endblock %}