{% extends "layout.html" %}

{% block title %}
Set Poll
{% endblock %}

{% block main %}
<form action="/set-poll/{{ poll_id }}"
      method="post">

        {% for candidate_num in range(num_candidates) %}
        <div class="form-group">
        <input class="form-control"
        name="candidate{{ candidate_num }}"
        placeholder="Candidate {{ candidate_num + 1}}"
        type="text">
        </div>

        {% endfor %}

    <button class="btn btn-primary"
            type="submit">Submit</button>
</form>
{% endblock %}